.form-control {
  transform: translate(5%);
}

.btn {
  transform: translate(10%);
  width: 100px;
}

#out {
  transform: translate(12%);
  border-radius: 5px;
  height: 40px;
  width: 80px;
  background-color: #343a40;
  border-color: white;
  color: white;
  text-align: center;
  font-size: small;
}

body {
  background: url("../imagenes/sesion.gif");
  background-size: 84%;
  overflow: hidden;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 640px;
  width: 210px;
}

#bienvenido{
  text-align: center;
  color: violet;
}

#top {
  margin-right: 1000px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-control {
  transform: translate(-280%);
  width: 150px;
}

.btn {
  transform: translate(-410%);
}

#out {
  transform: translate(-500%);
}

#monedas{
  transform: translate(-470px);
}