body,html {
    background: rgba(17, 88, 188, 0.508);
    height: 100%;
    width: 100%;
    margin: 0;
  }

  body{
      align-items: center;
      justify-content: center;
      display: -ms-inline-grid;
      align-content: center;
      align-items: center;

      background-image: url('../juego/tetris/tetrisFondo.jpg');
  }

  canvas{
      position: absolute;
      top: 100px;
      left: 40%;
  }

  #tetris {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 70%;
  }

  #siguiente{
      margin-left: 350px;
      margin-top: 40px;
  }

  #tituloFigura{
      position: relative;
      text-align: center;
      width: 100px;
      height: 20px;
      top: 65px;
      left: 965px;
      color: darkviolet;
  }

  #puntuacion, #linea, #nivel, #tituloPuntuacion, #tituloNivel, #tituloLinea{
      text-align: center;
      color: darkviolet;
      height: 30px;
      position: relative;
      top: 250px;
      left: 978px;
      width: 80px;
  }

  #puntuacion, #linea, #nivel{
    color: red;
  }

